<ng-template #templateref let-modal>
	<div class="modal-header">
		<h5 class="modal-title">
			Options pour la recette "{{ getCurrentRecipe().name }}"
		</h5>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss()"
		></button>
	</div>
	<div class="modal-body">
		<div class="d-flex gap-2 justify-content-end">
			<button
				type="button"
				class="btn btn-primary"
				(click)="editRecipe()"
			>
				Modifier
			</button>
			<button
				type="button"
				class="btn btn-danger"
				(click)="deleteRecipe()"
			>
				Supprimer
			</button>
			<button
				type="button"
				class="btn btn-secondary"
				(click)="modal.dismiss()"
				ngbAutoFocus
			>
				Annuler
			</button>
		</div>
	</div>
</ng-template>
