<ng-template #templateref let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Ajouter un aliment</h5>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss()"
		></button>
	</div>
	<div class="modal-body">
		<form
			[formGroup]="alimentAddForm"
			(ngSubmit)="addAliment()"
			autocomplete="off"
			class="needs-validation"
		>
			<div class="mb-3">
				<label for="aliment-modal--add__name" class="form-label"
					>Nom</label
				>
				<input
					type="text"
					id="aliment-modal--add__name"
					formControlName="name"
					class="form-control"
					ngbAutoFocus
				/>
				<div
					*ngIf="name?.invalid && (name?.dirty || name?.touched)"
					class="alert alert-danger mt-2"
				>
					<div *ngIf="name?.errors?.['required']">
						Ce champ est obligatoire.
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__description" class="form-label"
					>Description</label
				>
				<input
					type="text"
					id="aliment-modal--add__description"
					formControlName="description"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__html" class="form-label"
					>Html</label
				>
				<textarea
					id="aliment-modal--add__html"
					rows="3"
					formControlName="html"
					class="form-control"
				></textarea>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__date" class="form-label"
					>Date</label
				>
				<input
					type="date"
					id="aliment-modal--add__date"
					formControlName="date"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__datetime" class="form-label"
					>Datetime</label
				>
				<input
					type="datetime-local"
					id="aliment-modal--add__datetime"
					formControlName="datetime"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__int" class="form-label"
					>Int</label
				>
				<input
					type="text"
					id="aliment-modal--add__int"
					formControlName="int"
					class="form-control"
				/>
				<div
					*ngIf="int?.invalid && (int?.dirty || int?.touched)"
					class="alert alert-danger mt-2"
				>
					<div *ngIf="int?.errors?.['pattern']">Nombre invalide.</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--add__float" class="form-label"
					>Float</label
				>
				<input
					type="text"
					id="aliment-modal--add__float"
					formControlName="float"
					class="form-control"
				/>
				<div
					*ngIf="float?.invalid && (float?.dirty || float?.touched)"
					class="alert alert-danger mt-2"
				>
					<div *ngIf="float?.errors?.['pattern']">
						Nombre invalide.
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label">Bool (Boolean)</label>

				<div class="form-check">
					<input
						type="checkbox"
						class="form-check-input"
						id="aliment-modal--add__bool"
						value=""
						formControlName="bool"
					/>
					<label
						for="aliment-modal--add__bool"
						class="form-check-label"
						[innerText]="alimentAddForm.value.bool"
					></label>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary ml-auto"
					data-bs-dismiss="modal"
					(click)="modal.close()"
				>
					Fermer
				</button>
				<button class="btn btn-primary" type="submit">Ajouter</button>
			</div>
		</form>
	</div>
</ng-template>
