<ng-template #templateref let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Informations sur l'aliment</h5>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss()"
		></button>
	</div>
	<div class="modal-body">
		<div class="mb-3">
			<label for="aliment-modal--info__name">Name (Char)</label>
			<div
				id="aliment-modal--info__name"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.name"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__description"
				>Description (Text)</label
			>
			<div
				id="aliment-modal--info__description"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.description"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__html">Html (Html)</label>
			<div
				id="aliment-modal--info__html"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerHTML]="aliment.html || ''"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__date">Date (Date)</label>
			<div
				id="aliment-modal--info__date"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.date || ''"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__datetime"
				>Datetime (Datetime)</label
			>
			<div
				id="aliment-modal--info__datetime"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="formattedDatetime"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__int">Int (Integer)</label>
			<div
				id="aliment-modal--info__int"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.int || ''"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__float">Float (Float)</label>
			<div
				id="aliment-modal--info__float"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.float || ''"
			></div>
		</div>
		<div class="mb-3">
			<label for="aliment-modal--info__bool">Bool (Boolean)</label>
			<div
				id="aliment-modal--info__bool"
				class="p-3 mt-2 rounded bg-secondary text-light aliment-modal--info__field"
				[innerText]="aliment.bool || ''"
			></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary" ngbAutoFocus (click)="modal.close()">
			Fermer
		</button>
	</div>
</ng-template>
