<ng-template #templateref let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Modifier un aliment</h5>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss()"
		></button>
	</div>
	<div class="modal-body">
		<form
			[formGroup]="alimentEditForm"
			(ngSubmit)="editAliment()"
			autocomplete="off"
		>
			<div class="mb-3">
				<label for="aliment-modal--edit__name" class="form-label"
					>Nom</label
				>
				<input
					type="text"
					id="aliment-modal--edit__name"
					formControlName="name"
					class="form-control"
					ngbAutoFocus
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__description" class="form-label"
					>Description</label
				>
				<input
					type="text"
					id="aliment-modal--edit__description"
					formControlName="description"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__html" class="form-label"
					>Html</label
				>
				<textarea
					id="aliment-modal--edit__html"
					rows="3"
					formControlName="html"
					class="form-control"
				></textarea>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__date" class="form-label"
					>Date</label
				>
				<input
					type="date"
					id="aliment-modal--edit__date"
					formControlName="date"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__datetime" class="form-label"
					>Datetime</label
				>
				<input
					type="datetime-local"
					id="aliment-modal--edit__datetime"
					formControlName="datetime"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__int" class="form-label"
					>Int</label
				>
				<input
					type="number"
					id="aliment-modal--edit__int"
					formControlName="int"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="aliment-modal--edit__float" class="form-label"
					>Float</label
				>
				<input
					type="number"
					step="any"
					id="aliment-modal--edit__float"
					formControlName="float"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label">Bool (Boolean)</label>

				<div class="form-check">
					<input
						type="checkbox"
						class="form-check-input"
						id="aliment-modal--edit__bool"
						value=""
						formControlName="bool"
					/>
					<label
						for="aliment-modal--edit__bool"
						class="form-check-label"
						[innerText]="alimentEditForm.value.bool"
					></label>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary ml-auto"
					data-bs-dismiss="modal"
					(click)="modal.close()"
				>
					Fermer
				</button>
				<button class="btn btn-primary" type="submit">Modifier</button>
			</div>
		</form>
	</div>
</ng-template>
