<ng-template #templateref let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Modifier une recette</h5>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="modal.dismiss()"
		></button>
	</div>
	<div class="modal-body">
		<form
			[formGroup]="recipeEditForm"
			(ngSubmit)="editRecipe()"
			autocomplete="off"
		>
			<div class="mb-3">
				<label for="recipe-modal--edit__name" class="form-label"
					>Nom</label
				>
				<input
					type="text"
					id="recipe-modal--edit__name"
					formControlName="name"
					class="form-control"
					ngbAutoFocus
				/>
				<div
					*ngIf="formName?.invalid && recipeEditFormSubmitted"
					class="alert alert-danger mt-2"
				>
					<div *ngIf="formName?.errors?.['required']">
						Ce champ est obligatoire.
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="recipe-modal--edit__description" class="form-label"
					>Description</label
				>
				<input
					type="text"
					id="recipe-modal--edit__description"
					formControlName="description"
					class="form-control"
				/>
			</div>
			<div class="mb-3">
				<label for="recipe-modal--edit__recipes" class="form-label"
					>Aliments</label
				>
				<select
					multiple
					class="form-select"
					id="recipe-modal--edit__recipes"
					formControlName="aliments"
				>
					<option
						*ngFor="let aliment of aliments"
						[value]="aliment.id"
					>
						{{ aliment.name }}
					</option>
				</select>
				<div
					*ngIf="formAliments?.invalid && recipeEditFormSubmitted"
					class="alert alert-danger mt-2"
				>
					<div *ngIf="formAliments?.errors?.['required']">
						Ce champ est obligatoire.
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary ml-auto"
					data-bs-dismiss="modal"
					(click)="modal.close()"
				>
					Fermer
				</button>
				<button class="btn btn-primary" type="submit">Modifier</button>
			</div>
		</form>
	</div>
</ng-template>
